package-lock=true
legacy-peer-deps=true

@videomobile:registry=https://npm.livelyvideo.tv/
//npm.livelyvideo.tv/:_authToken="XN28+uuLcfqdVti8CK+bZBiq24rdvCl6AsyUssEz2ZhwRX9t1u4j5YZxXZnHPbrfZpKOh2Vpc4oVvOhLDwWr+IeyRKwjZ+9blR/rU+Z+LbtEZADLsChg7Edu5gzrZISC"